In [153]:
#import the nitty gritty
import pandas as pd
from matplotlib import pyplot as plt

In [155]:
# read the csv file and store into a variable
data = pd.read_csv("data.csv",error_bad_lines=False)
# Lets take a look at the first 5 lines of the data
data.head()

b'Skipping line 52431: expected 8 fields, saw 9\n'
b'Skipping line 131201: expected 8 fields, saw 9\n'

,loan_status,loan_amnt,int_rate,grade,emp_length,home_ownership,annual_inc,term
0,Current,2500,13.56,C,10+ years,RENT,55000,36 months
1,Current,30000,18.94,D,10+ years,MORTGAGE,90000,60 months
2,Current,5000,17.97,D,6 years,MORTGAGE,59280,36 months
3,Current,4000,18.94,D,10+ years,MORTGAGE,92000,36 months
4,Current,30000,16.14,C,10+ years,MORTGAGE,57250,60 months

In [ ]:
# OK, so nothing seems worong atm, lets check for empty value
data.isnull()

In [ ]:
# awesome, since there are no missing data, means we dont have to deal with empty cells
# lets take a look at the whole data
data

In [ ]:
# notice that there are several columns that can be replaced with integers only e.g. emp_length and term, lets do that
def parse_term(row):
    return row.split(" ")[1]

def parse_emp_length(row):
    row_length = len(row.split(" "))
    if(row_length == 2):
        return row.split(" ")[0]
    elif row_length == 3:
        return "".join(row.split(" ")[0:2:1])
    

data['emp_length'] = data.apply(lambda row: parse_emp_length(row.emp_length), axis=1)
data['term'] = data.apply(lambda row: parse_term(row.term), axis=1)
# lets see the result
data

In [ ]:
# lets take a look at the processed data data, notice the column "emp_length", still has a lot of unstandardized data like "10+" and "<1"
# lets clean them up

# 1. make a function that accepts a row, and return a cleaned - more standardized data
# here we categorize the data into <5, 5, and >5, way more easier to read!
def clean_emp_length(row):
    if row == "10+":
        return ">5"
    elif row == "<1":
        return "<5"
    elif int(row) == 5:
        return "5"
    elif int(row) < 5:
        return "<5"
    elif int(row) > 5:
        return ">5"

# 2. Lets apply the function to the data
data['emp_length'] = data.apply(lambda row: clean_emp_length(row.emp_length), axis=1)
# lets see the result
data