In [100]:
#import the nitty gritty
import pandas as pd
from matplotlib import pyplot as plt

In [101]:
# read the csv file and store into a variable
data = pd.read_csv("data.csv")
# Lets take a look at the first 5 lines of the data
data.head()

,loan_status,loan_amnt,int_rate,grade,emp_length,home_ownership,annual_inc,term
0,Current,2500,13.56,C,10+ years,RENT,55000,36 months
1,Current,30000,18.94,D,10+ years,MORTGAGE,90000,60 months
2,Current,5000,17.97,D,6 years,MORTGAGE,59280,36 months
3,Current,4000,18.94,D,10+ years,MORTGAGE,92000,36 months
4,Current,30000,16.14,C,10+ years,MORTGAGE,57250,60 months

In [102]:
# OK, so nothing seems worong atm, lets check for empty value
data.isnull()

,loan_status,loan_amnt,int_rate,grade,emp_length,home_ownership,annual_inc,term
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False
14,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False
16,False,False,False,False,False,False,False,False
17,False,False,False,False,False,False,False,False
18,False,False,False,False,False,False,False,False

In [103]:
# awesome, since there are no missing data, means we dont have to deal with empty cells
# lets take a look at the whole data
data

,loan_status,loan_amnt,int_rate,grade,emp_length,home_ownership,annual_inc,term
0,Current,2500,13.56,C,10+ years,RENT,55000,36 months
1,Current,30000,18.94,D,10+ years,MORTGAGE,90000,60 months
2,Current,5000,17.97,D,6 years,MORTGAGE,59280,36 months
3,Current,4000,18.94,D,10+ years,MORTGAGE,92000,36 months
4,Current,30000,16.14,C,10+ years,MORTGAGE,57250,60 months
5,Current,5550,15.02,C,10+ years,MORTGAGE,152500,36 months
6,Current,2000,17.97,D,4 years,RENT,51000,36 months
7,Current,6000,13.56,C,10+ years,RENT,65000,36 months
8,Current,5000,17.97,D,10+ years,MORTGAGE,53580,36 months
9,Current,6000,14.47,C,< 1 year,OWN,300000,36 months
10,Current,5500,22.35,D,< 1 year,MORTGAGE,50000,36 months
11,Current,28000,11.31,B,2 years,MORTGAGE,70000,60 months
12,Current,11200,8.19,A,10+ years,MORTGAGE,65000,36 months
13,Current,6500,17.97,D,4 years,MORTGAGE,154000,36 months
14,Current,22000,12.98,B,10+ years,MORTGAGE,65000,60 months
15,Current,3500,16.14,C,10+ years,MORTGAGE,80000,36 months
16,Current,7000,12.98,B,4 years,MORTGAGE,102500,36 months
17,Current,25000,16.91,C,10+ years,MORTGAGE,23878,60 months
18,Current,16000,20.89,D,4 years,MORTGAGE,120000,60 months

In [104]:
# notice that there are several columns that can be replaced with integers only e.g. emp_length and term, lets do that
def parse_string_with_space(row,index):
    return row.split(" ")[index]

data['emp_length'] = data.apply(lambda row: parse_string_with_space(row.emp_length,0), axis=1)
data['term'] = data.apply(lambda row: parse_string_with_space(row.term,1), axis=1)
data

,loan_status,loan_amnt,int_rate,grade,emp_length,home_ownership,annual_inc,term
0,Current,2500,13.56,C,10+,RENT,55000,36
1,Current,30000,18.94,D,10+,MORTGAGE,90000,60
2,Current,5000,17.97,D,6,MORTGAGE,59280,36
3,Current,4000,18.94,D,10+,MORTGAGE,92000,36
4,Current,30000,16.14,C,10+,MORTGAGE,57250,60
5,Current,5550,15.02,C,10+,MORTGAGE,152500,36
6,Current,2000,17.97,D,4,RENT,51000,36
7,Current,6000,13.56,C,10+,RENT,65000,36
8,Current,5000,17.97,D,10+,MORTGAGE,53580,36
9,Current,6000,14.47,C,<,OWN,300000,36
10,Current,5500,22.35,D,<,MORTGAGE,50000,36
11,Current,28000,11.31,B,2,MORTGAGE,70000,60
12,Current,11200,8.19,A,10+,MORTGAGE,65000,36
13,Current,6500,17.97,D,4,MORTGAGE,154000,36
14,Current,22000,12.98,B,10+,MORTGAGE,65000,60
15,Current,3500,16.14,C,10+,MORTGAGE,80000,36
16,Current,7000,12.98,B,4,MORTGAGE,102500,36
17,Current,25000,16.91,C,10+,MORTGAGE,23878,60
18,Current,16000,20.89,D,4,MORTGAGE,120000,60

In [105]:
# lets take a look at the processed data data, notice the column "emp_length", still has a lot of unstandardized data like "10+" and "<1"
# lets clean them up

# 1. make a function that accepts a row, and return a cleaned - more standardized data
# here we categorize the data into <5, 5, and >5, way more easier to read!
def clean_emp_length(row):
    print("Evaluating====>",row)
    if row == "10+":
        return ">5"
    elif row == "<1":
        return "<5"
    elif int(row) == 5:
        return "5"
    elif int(row) < 5:
        return "<5"
    elif int(row) > 5:
        return ">5"

# 2. Lets apply the function to the data
# data['emp_length'] = data.apply(lambda row: clean_emp_length(row.emp_length), axis=1)